.kategori_liste {
  display: grid;
  gap: 20px;
  margin-top: 20px;
  grid-template-columns: 1fr;
}

@media (min-width: 700px) {
  .kategori_liste {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.kategori_kort {
  background: #e5e5e5;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  color: #111;
  border-radius: 8px;
}

.kategori_kort:hover {
  background: #dcdcdc;
}
